.container {
  color: white;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
